rowInput {
    width: 100%;
    padding: 10px;
    margin: 0px;

    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box;
    -webkit-box-sizing:content-box;
}

.font-small {
    font-size: 8px;
}

.hidden {
    visibility: hidden;
}
